<form method="POST" action="/profiles">
    <label for="name">Name</label>
    <input type="text" name="name"/>

    <label for="friends">Number of Friends</label>
    <input type="number" name="friends"/>

    <label>Single</label>
    <input type="checkbox"  name="single" value="true"/>

    <input type="submit" value="Create profile" />
</form>