<form method="POST" action="/accounts/">
    <label>Name</label>
    <input type="text" name="name" value="NEW NAME"/>

    <div>
      <label>
        <input type="checkbox" name="single" value="true"/>
        <span>Single</span>
      </label>
    </div>


    <label>Number of Friends</label>
    <input type="number" name="numberOfFriends" value="0"/>

    <input type="submit" value="Create Profile" />
</form>
