<form method="POST" action="/accounts/{{id}}?_method=PUT">
    <label>Name</label>
    <input type="text" name="name" value="{{account.name}}"/>

    <label>Single</label>
    <input type="checkbox"  name="single" value="true"
    {{#if singleProfile.single}} checked{{/if}}/>

    <label>Number of Friends</label>
    <input type="number" name="numberOfFriends" value="{{account.numberOfFriends}}"/>

    <input type="submit" value="Update profile" />
</form>

<form method="POST" action="/accounts/{{id}}?_method=DELETE">
    <input type="submit" value="Delete profile" />
</form>
