<form method="POST" action="/accounts/{{id}}?_method=PUT">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{singleProfile.name}}"/>

    <label>Single</label>
    <input type="checkbox"  name="single" value="true"
    {{#if account.single}} checked{{/if}}/>

    <label for="friends">Number of friends</label>
    <input type="number" name="numberOfFriends" value="{{singleProfile.accounts}}"/>

    <input type="submit" value="Update profile" />
</form>

<form method="POST" action="/accounts/{{accountId}}?_method=DELETE">
    <input type="submit" value="Delete profile" />
</form>