<form method="POST" action="/accounts/{{account.id}}?_method=PUT">
  <label>Name</label>
  <input type="text" name="name" value="{{account.name}}"/>

  <div>
    <label>
      <input type="checkbox" name="single" value="true"
      {{#if account.single}}checked{{/if}}/>
      <span>Single</span>
    </label>
  </div>

  <label>Number of Friends</label>
  <input type="number" name="numberOfFriends" value="{{account.numberOfFriends}}"/>

  <input type="submit" value="Update Profile"/>
</form>

<form method="POST" action="/accounts/{{account.id}}?_method=DELETE">
  <input type="submit" value="Delete Profile" />
</form>
